{% extends 'base.html' %}

{% block content %}
   <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="w-100 text-center">
                    <h1>Acerca de</h1>
                </div>
                <div class=" w-100">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        A labore esse odio architecto, dolor nostrum corrupti libero. 
                        Quae culpa doloremque enim animi explicabo nostrum deleniti corrupti aperiam. 
                        Accusantium, aspernatur eaque.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Enim nemo tempore sunt, dignissimos accusamus unde distinctio blanditiis sed minus praesentium. 
                        Veniam perferendis quo fugit aut cumque explicabo vitae commodi quasi.
                    </p>
                </div>
            </div>
        </div>
   </div>
{% endblock  %}

