<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <img src="{{producto.imagen.url}}" class="card-img-top" alt="{{producto.titulo}}">
        <div class="card-body">
            <h5 class="card-title">{{producto.titulo}}</h5>
            <p class="card-text">${{producto.precio}}</p>
            <p>{{producto.slug}}</p>
            <a href="{% url 'productos:producto' producto.slug %}" class="btn btn-primary align-middle w-100">
                Ver
            </a>
        </div>
    </div>
</div>